<!-- Base html page to extend other pages on -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div class="title-box">
        <h1 class="lain">Lain Systems Image Sharing</h1>
    </div>

    <div class="nav-box">
        <nav class="navbar navbar-expand-sm bg-transparent navbar-transparent">
            <!-- Links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link lain-nav" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lain-nav" href="{% url 'upload' %}">Upload</a>
                </li>
                <li class="nav-item">
		    <a class="nav-link lain-nav" href="{% url 'gallery' %}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link lain-nav" href="{% url 'contact' %}">Contact</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- This is where the main pages will extend from -->
	<div id="message">
		{% include 'messages.html' %}
	</div>
    {% block content %}{% endblock %}

    <footer id="sticky-footer" class="py-4 text-white-50 nav-box footer-box">
        <div class="container text-center">
          <small>All images uploaded to lainsystems must be copyright cleared, lainsystems is not liable for any plaigirism or copyright infrigments</small>
        </div>
    </footer>

    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/upload.js' %}"></script>
</body>

</html>
