{% extends "base.html" %} {% block title %}Image{% endblock %} {% block content %}

<div class="container-fluid">

    <!-- Row where the image title and image itself go -->
    <div class="row mt-3">
        <div class="col-sm-6 mx-auto text-center">
            <h4>Image Title Here</h4>
            <img src="" alt="Image Here" class="mx-auto d-block img-fluid border" style="height: 400px;">
        </div>
    </div>

    <!-- Row where the list of tags go for the image -->
    <div class="row mt-3">
        <div class="col-sm-6 mx-auto">
            <div class="list-group list-group-horizontal justify-content-center">
                <a href="#" class="list-group-item list-group-item-action">Tag 1</a>
                <a href="#" class="list-group-item list-group-item-action">Tag 2</a>
                <a href="#" class="list-group-item list-group-item-action">Tag 3</a>
                <a href="#" class="list-group-item list-group-item-action">Tag 4</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}