{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-12 mx-auto">
		<form action="/search" class="form-inline justify-content-center" method="post">{% csrf_token %}
			<div class="col-sm-12">
				<!-- TODO: Cleanup html look -->
				<div class="form-group col-sm-4">
					<input class="form-control form-control-sm" type="text" placeholder="Search term" aria-label="Search" name="search_term" />
				</div>
				<div class="form-group col-sm-4">
					<label>Width at least:</label>
					<input class="form-control form-control-sm mr-3 w-50" type="number" placeholder="0" name="width" />
				</div>
				<div class="form-group col-sm-4">
					<label>Image type:</label>
					<select class="form-control" name="img_type">
						<option value="">Any</option>
						<option value="jpg">JPG</option>
						<option value="png">PNG</option>
					</select>
				</div>
			</div>
			<div class="col-sm mx-auto">
				<div class="text-center">
					<button type="submit" class="btn btn-dark">Search Images</button>
				</div>
			</div>
		</form>
    </div>
</div>
{% endblock %}
