{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Upload pictures</title>
    <link href="{% static 'css/dropzone.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>

<body>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-sm-6 mx-auto">
                <form action="/upload" class="dropzone" id="drop">
                    <div class="dz-message" data-dz-message><span>Upload an image</span></div>
                </form>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm mx-auto">
                <ul class="list-group list-group-horizontal justify-content-center">
                    <li class="list-group-item"><a href="#">Suggested Tag 1</a></li>
                    <li class="list-group-item"><a href="#">Suggested Tag 2</a></li>
                    <li class="list-group-item"><a href="#">Suggested Tag 3</a></li>
                </ul>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-sm-6 mx-auto">
                <form class="form-inline justify-content-center">
                    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
                    <i class="fas fa-search" aria-hidden="true"></i>
                </form>
            </div>
        </div>
    </div>

    <script src="{% static 'js/dropzone.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
</body>

</html>